
*{margin:0;padding:0;box-sizing:border-box}

body{
font-family:'Lekton',monospace;
background:#1f00e8;
}

.logo{
display:block;
width:100%;
height:120px;
line-height:120px;
text-decoration:none;
color:#000;
font-size:clamp(42px,6vw,80px);
letter-spacing:.45em;
white-space:nowrap;
overflow:hidden;
}

.grid{
display:grid;
grid-template-columns:repeat(4,1fr);
height:calc(100vh - 120px);
}

.grid a,.about-cell{
display:block;
overflow:hidden;
}

.grid img{
width:100%;
height:100%;
object-fit:cover;
display:block;
border:0;
}

.about-cell{
position:relative;
}

.red-dot{
position:absolute;
right:35px;
bottom:35px;
width:52px;
height:52px;
border-radius:50%;
background:#d61b1b;
}

.about{
min-height:100vh;
}

.about-content{
padding:30px;
max-width:800px;
line-height:1.7;
}

.floating-dot{
position:fixed;
right:35px;
bottom:35px;
width:52px;
height:52px;
border-radius:50%;
background:#d61b1b;
}

.pdf-page{
overflow:hidden;
}

.book-wrapper{
position:relative;
width:100vw;
height:100vh;
display:flex;
align-items:center;
justify-content:center;
}

#book{
width:90vw;
height:92vh;
}

.pdf-dot{
position:absolute;
right:30px;
bottom:30px;
width:55px;
height:55px;
border-radius:50%;
background:#d61b1b;
z-index:9999;
}

@media(max-width:768px){
.logo{
font-size:34px;
letter-spacing:.18em;
height:90px;
line-height:90px;
}
.grid{
grid-template-columns:repeat(2,1fr);
height:auto;
}
.grid a,.about-cell{
aspect-ratio:1/1;
}

#loader{
    position:fixed;
    inset:0;

    display:flex;
    align-items:center;
    justify-content:center;

    background:#1f00e8;

    color:black;

    font-family:'Lekton', monospace;
    font-size:24px;

    z-index:99999;
}}
